:root {
    --main-color: #07eeba;
    --main-bg: #222222;
    --box-bg: #141d33;
    --font-xxx: 72px;
    --font-x: 32px;
    --font-small: 22px;
    --font-xs: 18px;
    --font-xxs: 17px;
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue";
    scroll-behavior: smooth;

}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
    color: #04050d;
    font-size: var(--font-small);
}

/**
* HEADER
*/

/* HEADER >> Burger Icon */

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 440px 200px;
    margin-bottom: 120px;
}

header a {
    color: #e0e5ea;
}

.header-bg-cover {
    grid-column: 1/ 13;
    grid-row: 1/ span 2;
    background-image: url('./TEST-HP-assets/bg-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
}

.header-main-content {
    width: 90%;
    margin: 0 auto;
    /* padding-left: 100px;
    padding-right: 50px; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px minmax(500px, auto);
    align-items: center;
}

.header-bottom {
    grid-column: 2/12;
    grid-row: span 2/ -1;
    z-index: 1;
    position: relative;
    align-self: flex-end;
}

.header-form {
    background: var(--box-bg);
    opacity: 95%;
    color: #e0e5ea;
    padding: 20px;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-title {
    font-weight: lighter;
    font-size: 3em;
}

.header-form p {
    font-size: 1.2em;
}

.header-form form {
    margin-bottom: 40px;
}

input, select {
    border: none;
    background-color: var(--box-bg);
    font-size: var(--font-small);
    color: rgba(255, 255, 255, 0.251);
    /* line-height: 1.2; */
    text-align: left;
}

input:focus, select:focus {
    outline: none;
}

.custom-input {
    position: relative;
}

.custom-input::before {
    content: '';
    background-color: #0a459a;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.submit-button {
    position: absolute;
    bottom: -70px;
    left: 42%;
    right: 45%;
    height: 50px;
    cursor: pointer;
}

.circle {
    width: 50px;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--main-color);
}

.logo {
    grid-column: span 5;
}

.logo img {
    width: 100%;
    max-width: 319px;
    max-height: 46px;
}

nav {
    grid-column: span 5;
}

nav ul {
    color: #e0e5ea;
    display: flex;
    justify-content: space-evenly;
}

.nav-btn {
    justify-self: end;
    grid-column: span 2/-1;
    min-width: 100%;
}

.nav-btn button, .custom-fill-btn button {
    width: 100%;
    border: none;
    color: #e0e5ea;
    padding: auto;
    background: #07eeba;
    border-radius: 50px;
}

.header-title {
    color: #e0e5ea;
    grid-column: 9/13;
    grid-row: 2;
    justify-self: flex-end;
}

.burger-icon {
    display: none;
}

/**
* MAIN CONTAINER 
*/

.main-container {
    min-height: 500px;
}

.section-content {
    width: 100%;
    height: 100%;
}

/*  SECTION 1*/

.section1 {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.card {
    flex-shrink: 0;
    width: 100%;
    max-width: 600px;
    /* margin-right: 40px; */
}

.card-img-container {
    display: flex;
    flex-direction: column;
}

.card-img-container .card-img:nth-child(even) {
    align-self: flex-end;
}

.card-img-container .card-img:nth-child(odd) {
    align-self: flex-start;
}

.card-img img {
    object-fit: contain;
    height: 100%;
    width: 300px;
}

.img1 {
    position: relative;
}

.img1::before {
    content: '';
    position: absolute;
    width: 55%;
    height: 40px;
    background-color: #07eeba;
    left: 30px;
    bottom: -15px;
}

.card-content {
    width: 90%;
}

.card-content p {
    padding-left: 20%;
    text-align: left;
}

.section2, .section4, .section5, footer {
    display: none;
}

/* SECTION 3 */

.section3 .section-content {
    color: #e0e5ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(ellipse at top, #092342, #04050d), radial-gradient(ellipse at bottom, #092342, transparent);
    /* background: radial-gradient(ellipse at top, #092342, #04050d), radial-gradient(ellipse at bottom, #092342, transparent); */
}

.section3 .content-bloc {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.section3 p, .section3 h1 {
    color: #e0e5ea;
    font-weight: lighter;
    opacity: 80%;
}

.section3 h1 {
    font-size: 35px;
}

.section3 p {
    font-size: 18px;
}

.section3 .download-btn {
    display: none;
}

.sattelite-bg {
    width: 100%;
    overflow: hidden;
}

.sattelite-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.satt-bg {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url('./TEST-HP-assets//section3-bg.png');
    background-size: cover;
    opacity: .7;
}

@media screen and (max-width: 620px) {
    :root {
        --font-xxx: 56px;
        --font-x: 28px
    }
    .logo, nav, .nav-btn, .header-title {
        display: none;
    }
    .burger-icon {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .rec {
        width: 20px;
        height: 3px;
        margin: 3px;
        border-radius: 3px;
        background-color: var(--main-color);
    }
    /* .links li, footer .bottom {
        font-size: 14px;
    }
    */
    /* footer .links {
        display: none;
    } */
}

@media screen and (min-width: 620px) {
    :root {
        --font-xxx: 62px;
    }
    h1 {
        font-size: var(--font-xxx);
        font-weight: lighter;
    }
    h3 {
        font-size: var(--font-x);
    }
    section {
        color: #e0e5ea;
    }
    section:first-child, section:last-child {
        color: #04050d;
    }
    .header-form {
        left: 100px;
        padding: 50px;
    }
    .header-bottom {
        grid-column: 2/ 8;
    }
    .submit-button {
        left: unset;
        bottom: 60px;
        right: -300px;
    }
    .section1 {
        overflow: unset;
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 90%;
        margin: 0 auto;
    }
    .section1 .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
    }
    .card-title {
        grid-row: 2;
        grid-column: 1;
        justify-self: end;
        margin-right: 30px;
        text-align: end;
    }
    .card-content {
        grid-row: 2;
        grid-column: 2;
    }
    .section1 .card-img-container {
        grid-column: span 2;
        flex-direction: row;
    }
    .card-img img {
        width: 100%;
        object-fit: contain;
    }
    .img1 {
        position: relative;
        bottom: 20px;
    }
    .img1::before {
        right: -15px;
        top: -22px;
        left: unset;
        width: 32px;
        height: 55%;
    }
    /* SECTION 2 */
    .section2 {
        position: relative;
        width: 100%;
        height: 1150px;
        background: linear-gradient(141deg, #070762, #5a56cc, #10dbdb);
        padding-top: 100px;
    }
    .circle-bg {
        background-color: hsl(223, 76%, 10%);
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .circle1 {
        clip-path: circle(42%);
        opacity: 0.1;
    }
    .circle2 {
        clip-path: circle(37%);
        opacity: .25;
    }
    .circle3 {
        clip-path: circle(30%);
        opacity: .5;
    }
    .circle4 {
        clip-path: circle(20%);
        opacity: .7;
    }
    .section2 {
        /* color: #e0e5ea; */
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    .section-bg__item__ellipse {
        position: relative;
        grid-column: 4/span 6;
        grid-row: 3/span 8;
    }
    .section2 .section-content {
        grid-area: 1 / 1 /span 12 / span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 3rem;
        width: 90%;
        margin: auto;
    }
    .section2 .section-header {
        grid-column: span 12;
        justify-self: center;
        text-align: center;
    }
    .section2 .section-header h1 {
        font-size: 72px;
        font-weight: lighter;
        margin-bottom: 0;
    }
    .section2 h3 {
        font-size: 32px;
    }
    .section2 p {
        font-size: 28px;
        max-width: 400px;
        font-weight: lighter;
    }
    .step {
        position: relative;
        grid-row: 2/4;
        grid-column: span 4;
        justify-self: center;
        z-index: 15;
        text-align: center;
        display: grid;
        grid-template-rows: 2fr 1fr 1fr;
    }
    .step1 {
        grid-column: 1/span 3;
    }
    .step2 {
        grid-column: 5/span 4;
    }
    .step3 {
        grid-column: 10/span 3;
    }
    .step>* {
        justify-self: center;
    }
    .step>*:nth-child(2) {
        align-self: center;
    }
    .step::before {
        position: absolute;
        width: 60px;
        height: 60px;
        border: 3px solid var(--main-color);
        border-radius: 50%;
        bottom: calc(100% + 2rem);
        left: 0;
        right: 0;
        margin: auto;
        font-size: 32px;
        font-weight: bold;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .step1::before {
        content: "1"
    }
    .step2::before {
        content: "2"
    }
    .step3::before {
        content: "3"
    }
    /* .step:nth-child(even)::after {
        width: 30%; 
        height: 30%;
        position: absolute;
    }
    .step1::after {
        content: url("./TEST-HP-assets/ellipse1.png");
        width: 100%;
        left: 80%;
    } */
    /* SECTION 3  */
    .section3 {
        position: relative;
    }
    .section3::before {
        content: '';
        background-color: var(--main-color);
        position: absolute;
        width: 45px;
        height: 200px;
        left: 100px;
        top: 0;
        z-index: 12;
    }
    .section3 .section-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .satt-bg {
        grid-column: 1/3;
        grid-row: 1/5;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 25% 50%;
        /* background-position: left; */
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    .content-bloc {
        z-index: 10;
        grid-column: 2;
    }
    .bloc1 {
        grid-row: 1;
        margin-top: 100px;
    }
    .bloc2 {
        grid-row: 2;
    }
    .bloc3 {
        grid-row: 3;
    }
    .section3 .download-btn {
        display: unset;
        grid-row: 4;
    }
    .download-btn button {
        color: #e0e5ea;
        background: transparent;
        font-weight: bold;
        font-size: 22px;
        border: 3px solid var(--main-color);
        border-radius: 20px;
        padding: 10px 15px;
    }
    /* SECTION 4 */
    .section4 {
        background-image: url('./TEST-HP-assets/bg-section4.png');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50vh;
        background-position: left bottom;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .section4 .section-header {
        margin-top: 100px;
        grid-column: span 2;
        text-align: center;
    }
    .section4 .section-content {
        width: 90%;
        grid-column: span 2;
        grid-row: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        column-gap: 2em;
    }
    .sattelite-preview {
        grid-column: span 2;
        grid-row: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
        /* align-self: stretch; */
    }
    .sattelite-preview img {
        width: 100%;
        object-fit: contain;
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        z-index: 30;
    }
    .sattelite-title {
        grid-column: 1/ span 2;
        grid-row: 1;
        font-size: 82px;
        font-weight: bolder;
        position: relative;
        top: 71px;
        margin: 0;
        z-index: 40;
    }
    .sattelite-title span {
        color: var(--main-color);
    }
    .sattelite-informations {
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
        justify-self: center;
        z-index: 35;
    }
    .time-details {
        display: flex;
    }
    .sattelite-informations-box {
        background-color: #04050d;
        opacity: .6;
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;
        width: 100%;
        height: 100%;
        z-index: initial;
    }
    .section4 form {
        grid-column: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .section4 form input, .section4 form select {
        background: transparent;
        opacity: 1;
    }
    .section4 form input::placeholder, #lorem-input {
        color: var(--main-color);
        font-size: 24px;
    }
    .section4 .custom-input, .range-weight label {
        display: flex;
        flex-direction: column;
        line-height: 2;
        font-size: 24px;
    }
    .custom-input label, .range-weight label {
        opacity: .6;
    }
    .section4 .custom-input::before {
        background-color: rgba(255, 255, 255, 0.514);
        height: 4px;
    }
    input[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        width: 70%;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-border-radius: 60%;
        margin-top: -8px;
        height: 21px;
        width: 21px;
        border-radius: 50%;
        background: var(--main-color);
        border: 1px solid var(--main-color);
        box-shadow: 0px 0px 4px 2px #109475d5;
    }
    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        border: none;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.363);
    }
    .range-container {
        display: flex;
        justify-content: space-between;
        color: #07eeba;
        font-size: 24px;
    }
    .range-container span, #customOutput {
        line-height: 1.5;
        opacity: .7;
    }
    .speaker-profile {
        grid-column: 3;
        display: flex;
    }
    .profile-details {
        margin: 15px 20px;
    }
    .form-footer button {
        width: 50%;
    }
    .form-footer button p {
        font-size: 24px;
    }
    .profile-name {
        font-size: 24px;
        font-weight: bold;
    }
    .profile-details p {
        margin: 0;
        line-height: 1.2;
    }
    .profile-details p:not(.profile-name) {
        font-size: 17px;
        font-weight: lighter;
        font-style: italic;
    }
    /* SECTION 5 */
    .section5 {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 700px;
        justify-content: space-evenly;
    }
    .section5 form {
        margin: 50px;
    }
    .section5 .custom-input {
        width: 30%;
        margin: auto;
    }
    .section5 .custom-input input {
        background: transparent;
        width: 100%;
        height: 2.5em;
        color: #04050d;
        font-size: 28px;
    }
    .section-title {
        margin: 0;
    }
    .social-media ul {
        display: flex;
        justify-content: center;
    }
    .social-media li {
        margin: 0 10px;
        transition: transform .2s ease-in-out;
    }
    .social-media li:hover {
        transform: scale(1.1);
    }
    /**
* FOOTER 
*/
    footer {
        display: block;
        background-color: var(--main-bg);
    }
    footer>* {
        width: 90%;
        margin: 0 auto;
    }
    footer .links {
        background: #e0e5ea;
        height: 290px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .links li {
        font-size: 22px;
        margin: 12px 0;
    }
    footer .bottom {
        height: 72px;
        font-size: 22px;
        color: rgb(255, 255, 255);
        line-height: 2.182;
    }
}

@media screen and (min-width: 620px) and (max-width:1009px) {
    .logo {
        grid-column: span 3;
    }
    .logo img {
        object-fit: contain;
    }
    nav {
        grid-column: 5 / span 6;
    }
    nav ul li a {
        font-size: 20px;
        ;
    }
}

@media screen and (min-width: 1069px) {
    :root {
        --font-xxx: 72px;
        --font-x: 32px;
        --font-small: 22px;
        --font-xs: 18px;
        --font-xxs: 17px;
    }
    .header-title {
        grid-column: 7/13;
    }
    .header-bottom {
        grid-column: 2/ 6;
    }
}