:root {
    --main-color: #07eeba;
    --main-bg: #222222
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue";
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/**
* HEADER
*/

/* HEADER >> Burger Icon */

.burger-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.rec {
    width: 20px;
    height: 3px;
    margin: 3px;
    border-radius: 3px;
    background-color: var(--main-color);
}

/**
* FOOTER 
*/

footer {
    background-color: var(--main-bg);
}

footer>* {
    padding: 0 100px;
}

footer .links {
    background: #e0e5ea;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links li {
    font-size: 22px;
    margin: 12px 0;
}

footer .bottom {
    height: 72px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 2.182;
}